.bg-img {
    background-repeat: no-repeat;
    background-size: 1080px auto;

    &--1 {
        background-image: url("../assets/images/hantelregal2_fhd.jpg");
        background-position: right center;

        @include breakpoint(laptop) {
            background-position: unset;
            background-size: unset;
        }
    }

    &--2 {
        background-image: url("../assets/images/hantelregal_fhd.jpg");
        background-position: right center;

        @include breakpoint(laptop) {
            background-position: unset;
            background-size: unset;
        }
    }

    &--3 {
        background-image: url("../assets/images/kabelturm_fhd.jpg");
        background-position: center center;
        background-size: unset;
    }

    &--4 {
        background-image: url("../assets/images/langhantel_fhd.jpg");
        background-position: center center;
        background-size: unset;

        @include breakpoint(laptop) {
            background-image: url("../assets/images/langhantel_gross.jpg");
        }
    }

    &--5 {
        background-image: url("../assets/images/hantelbank_fhd.jpg");
        background-position: center center;
        background-size: unset;
    }
}

.bg-gradient {
    background: $gradient;
}
