.bg-img {
    background-image: url("../assets/images/hantelregal2_fhd.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1080px auto;
    z-index: -3;

    @include breakpoint(laptop) {
        background-position: unset;
        background-size: unset;
    }
}
.bg-gradient {
    content: "";
    background: $gradient;
    z-index: -2;
}
