.btn-main {
    position: relative;
    text-decoration: none;
    display: block;
    max-width: 250px;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        top: 0px;
        right: 2px;
        bottom: 0px;
        left: -5px;
        background-color: $main-red-2;
        transform: rotate(-3deg);
        z-index: -1;
    }
}

.btn-text {
    font-family: "Oswald Bold";
    display: block;
    text-align: center;
    padding: 0.5rem 3.5rem;
    background-color: $main-red-1;
    color: $white;
    transition: $transition;

    @include breakpoint(laptop) {
        &:hover {
            cursor: pointer;
            transform: rotate(0) translateX(3px) translateY(-2px);
        }
    }

}
