.division {
    &__arrow-icon {
        display: block;
        margin: 0 auto;
        width: 64px;
        height: auto;
        margin-bottom: 10px;
    }

    &__horizontal-line-up {
        width: 110%;
        height: 5px;
        margin-left: -1rem;
        background-color: $gray-2;
        transform: rotate(-20deg);

        @include breakpoint(tablet) {
            margin-left: -4rem;
            transform: rotate(-8deg);
        }

        @include breakpoint(laptop) {
            margin-top: -3px;
        }

        @include breakpoint(fullHD) {
            margin-top: -10px;
        }
    }

    &__horizontal-line-down {
        width: 110%;
        height: 5px;
        margin-left: -1rem;
        background-color: $gray-2;
        transform: rotate(20deg);

        @include breakpoint(tablet) {
            margin-left: -4rem;
            transform: rotate(8deg);
        }
    }
}
