.division {
    &__arrow-icon {
        display: block;
        margin: 0 auto;
        width: 64px;
        height: auto;
        margin-bottom: 10px;
        animation: moveArrow 10s infinite ease-in-out;
    }

    &__horizontal-line-up {
        width: 115%;
        height: 5px;
        margin-left: -1.75rem;
        background-color: $gray-2;
        transform: rotate(-20deg);

        @include breakpoint(tablet) {
            margin-left: -4rem;
            transform: rotate(-8deg);
        }

        @include breakpoint(laptop) {
            margin-top: -3px;
        }

        @include breakpoint(fullHD) {
            margin-top: -10px;
        }
    }

    &__horizontal-line-down {
        width: 115%;
        height: 5px;
        margin: clamp(0.25rem, 3.25vw, 28px) 0 0 -1.75rem;
        background-color: $gray-2;
        transform: rotate(20deg);

        @include breakpoint(tablet) {
            margin: clamp(0.25rem, 1.25vw, 20px) 0 0 -4rem;
            transform: rotate(8deg);
        }
    }
}
