.header {
    position: relative;
    padding: 1.5rem 1rem 0 1rem;
    z-index: 1;

    @include breakpoint(laptop) {
        padding: 3.5rem 1rem 0 1.5rem;
    }

    &__logo-mobile {
        display: block;
        margin: 0 auto 2rem auto;
        width: 100px;
        height: auto;

        @include breakpoint(laptop) {
            display: none;
            margin: 0 auto;
        }
    }

    &__logo-desktop {
        display: none;

        @include breakpoint(laptop) {
            position: absolute;
            top: 5px;
            left: 5px;
            display: block;
            margin: 0 auto;
            width: 12%;
            height: auto;
        }
    }

    &__desktop {
        width: 100%;
        z-index: 1;

        @include breakpoint(laptop) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 600px;
            justify-items: center;
            align-items: center;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(laptop) {
            order: 2;
            align-items: flex-start;
        }
    }

    &__desktop-imgs {
        @include breakpoint(laptop) {
            order: 1;
            position: relative;
        }
    }

    &__desktop-img {
        position: absolute;

        &--1 {
            bottom: 20%;
            left: 20%;
            width: 180px !important;
        }

        &--2 {
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            width: 200px !important;
        }

        &--3 {
            top: 60%;
            right: 60%;
            width: 220px !important;
        }
    }

    &__main-heading {
        text-align: center;
    }

    &__sub-heading {
        text-align: center;
    }

    &__desc {
        margin-bottom: 3rem;
    }

    &__carousel {
        width: 100%;
        max-width: 750px;
        margin-bottom: 1.5rem;

        @include breakpoint(laptop) {
            display: none;
        }
    }

    &__pricing-desc {
        font-family: "Oswald Normal";
        text-align: center;
        color: $main-red-1;
        margin-bottom: 1rem !important;

        @include breakpoint(tablet) {
            margin-bottom: 1.5rem !important;
        }
    }

    &__cta {
        margin-bottom: 0.5rem;
    }

    &__desktop-imgs {
        display: none;

        @include breakpoint(laptop) {
            display: block;
        }
    }

    &__carousel-img {
        width: 175px !important;
    }
}

.slick-arrow {
    @include breakpoint(laptop) {
        cursor: pointer;
    }
}

.slick-slide > div {
    display: flex;
    justify-content: center;
}

.slick-arrow-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    z-index: 2;
}

.arrow-content-prev {
    border: solid $main-red-1;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 13px;
    transform: rotate(-225deg);
}

.slick-arrow-next {
    position: absolute;
    top: 50%;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    z-index: 2;
}

.arrow-content-next {
    border: solid $main-red-1;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 13px;
    transform: rotate(-45deg);
}
