.hide-on-mobile-block {
    display: none !important;

    @include breakpoint(laptop) {
        display: block !important;
    }
}

.hide-on-mobile-flex {
    display: none !important;

    @include breakpoint(laptop) {
        display: flex !important;
    }
}

.display-block {
    opacity: 1 !important;
    visibility: visible !important;
}