.img-desc {
    padding: 3.5rem 1rem 0 1rem;

    @include breakpoint(laptop) {
        padding: 3.5rem 1rem 0 1.5rem;
    }

    &__inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint(laptop) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            margin-bottom: 2.75rem;

            &:nth-child(even) {
                direction: rtl;
            }
        }
    }

    &__text-wrapper {
        @include breakpoint(laptop) {
            justify-self: left;
        }
    }

    &__text-heading {
        text-align: center;

        @include breakpoint(laptop) {
            text-align: left;
        }
    }

    &__img {
        display: block;
        width: 200px;
        margin-bottom: 1.5rem;

        @include breakpoint(laptop) {
            margin-bottom: 0;
        }
    }
}