.img-desc {
    padding: 3.5rem 1rem 0 1rem;

    @include breakpoint(laptop) {
        padding: 3.5rem 1rem 1.5rem 1rem;
    }

    @include breakpoint(fullHD) {
        padding: 3.5rem 2rem 1.5rem 4.5rem;
    }

    &__inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint(laptop) {
            flex-direction: row;
            margin-bottom: 4rem;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }

    &__img-wrapper {
        @include breakpoint(laptop) {
            display: flex;
            justify-content: center;
            flex: 2;
        }
    }

    &__text-wrapper {
        @include breakpoint(laptop) {
            flex: 2;
        }

        @include breakpoint(fullHD) {
            flex: 3;
        }
    }

    &__text-heading {
        text-align: center;

        @include breakpoint(laptop) {
            text-align: left;
        }
    }

    &__img {
        display: block;
        width: 200px;
        margin-bottom: 1.5rem;

        @include breakpoint(laptop) {
            margin-bottom: 0;
        }
    }
}