.a {
    position: relative;
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        right: 50%;
        bottom: -2px;
        left: 0;
        height: 3px;
        background-color: $white;
        transition: $transition;
    }

    @include breakpoint(laptop) {
        &:hover {
            &::after {
                right: 0;
            }
        }
    }

    /* unvisited link */
    &:link {
        color: $white;
    }

    /* visited link */
    &:visited {
        color: $white;
    }

    /* mouse over link */
    &:hover {
        color: $white;
    }

    /* selected link */
    &:active {
        color: $white;
    }
}
