.photo-wall {
    padding: 3.5rem 1rem 0 1rem;

    @include breakpoint(laptop) {
        padding: 3.5rem 1rem 0 1.5rem;
    }

    &__img-wrapper {
        position: relative;
        width: unset !important;
    }

    &__carousel-img {
        width: 175px !important;
        height: auto;
        border: $white solid 20px;
    }

    &__img-caption {
        position: absolute;
        top: 0;
        right: -25px;
        transform: rotate(-10deg);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: $main-red-1;
    }

    &__img-name {
        font-size: 1rem;
        margin-bottom: 0;
    }

    &__quote-wrapper {
        position: absolute;
        right: -5px;
        bottom: -8px;
        left: -5px;
        transform: rotate(-4deg);

    }

    &__img-quote {
        position: relative;
        font-size: 1rem;
        text-align: left;
        padding: 0 1rem;
        margin-bottom: 0;
        background-color: $main-red-1;
    }

    &__quotation-mark {
        position: absolute;
        text-align: center;
        vertical-align: middle;
        line-height: 65px;
        width: 26px;
        height: 26px;
        font-size: 3rem;
        background-color: $black;

        &--start {
            top: -13px;
            left: -13px;
        }

        &--end {
            bottom: -13px;
            right: -13px;
        }
    }
}