.reason-why {
    padding: 2.5rem 1rem 0 1rem;
    margin-bottom: 0.5rem;

    @include breakpoint(laptop) {
        margin-bottom: 2.25rem;
    }

    &__heading {
        text-align: center;
    }

    &__reasons {
        display: flex;
        flex-direction: column;

        @include breakpoint(laptop) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3rem;
        }
    }

    &__reason {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        &:nth-child(11) {
            margin-bottom: 0;
        }

        @include breakpoint(laptop) {
            margin-bottom: 0;
        }
    }

    &__icon {
        display: block;
        width: 48px;
        height: auto;
        margin-right: 1rem;
    }

    &__desc {
        color: $white;
        margin: 0;
        width: 250px;
        text-align: left;
    }
}