// Colors
$main-red-1: #e50712;
$main-red-2: #6e0005;

$black: #000000;
$white: #ffffff;

$gray-1: #cbc9cf;
$gray-2: #67666a;
$gray-3: #424143;
$gray-4: #1e1e1f;


$transition: 0.2s ease-in-out;
$gradient: linear-gradient(
    0deg,
    rgba(30, 30, 31, 1) 0%,
    rgba(30, 30, 31, 0.85) 50%,
    rgba(30, 30, 31, 1) 100%
);